@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.landingPage {
    width: 100%;
    font-size: 30px;
    text-align: center;
}

.landingPage__meet {
    margin: 0 auto;
}

.landingPage__title {
    font-family: 'Pacifico', cursive;
    letter-spacing: 2px;
    line-height: 1;
    font-size: 1.5em;
}

.landingPage__learnMorebutton {
    margin-top: 8vh;
    font-size: 0.75em;
    border: 2px solid #49c0c8;
    color: #49c0c8;
    background-color: #FFF;
}

.landingPage__learnMorebutton:hover {
    color: white;
    background-color: #49c0c8;
}

.landingPage__description {
    margin: 0 2vw;
}
