@import '../App/App.css';

.headerButtons {
    display: flex;
    justify-self: flex-end;
    margin-left: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 1.5em;
}

.headerButtons > a {
    text-decoration: none;
    color: var(--main-text-color);
    font-weight: 500;
    margin: 0 1vw;
    padding-bottom: 0.5vh;
}

.headerButtons__button .headerButtons__buttonName{
    display: none;
}

.headerButtons > a {
    border: 1px solid var(--main-text-color);
    border-radius: 50%;
    padding: 0.5rem 0.65rem;
    margin: auto 1vw;
}

.headerButtons > a:hover, .headerButtons > a.active {
    color: var(--main-accent-color);
}

.headerButtons > a.active {
    border: 1px solid var(--main-accent-color);
}

@media only screen and (min-width: 650px) {

    .headerButtons > a {
        border: none
    }

    .headerButtons > a.active {
        border: none;
        border-radius: 0;
    }

    .headerButtons__button .headerButtons__buttonName{
        display: inline;
    }
    
    .headerButtons > a.active {
        border-bottom: 2px solid var(--main-accent-color);
    } 

    .MuiTooltip-tooltip {
        display: none;
    }
}