.calendar {
    margin: 3vh 0;
}

.rbc-toolbar > .rbc-toolbar-label {
    font-weight: 500;
}

.rbc-event-content {
    display: flex;
    justify-content: center;
}

.rbc-event-content > svg {
    color: #FFF;
}

.modal__activity {
    border-radius: 20%;
    padding: 0.3vh 0.7vw;
}

.modal__activity:hover {
    background: #f9f9f9;
}