@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import '../App/App.css';

.header {
    padding: 0.5vh 2vw;
    background: #f4f4f4;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 0.8em;
}

.header__buttons {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    margin-left: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.header__signUpButton, .header__logInButton {
    text-align: center;
}

.header__moodi {
    margin: 1vh 1vw;
    font-size: 3em;
    font-family: "Pacifico", sans-serif;
    letter-spacing: 2px;
    color: var(--main-accent-color);
}

.header__navLink {
    text-decoration: none;
}

.header__buttons > .MuiAvatar-root {
    font-size: 2em;
    width: 2.5em;
    height: 2.5em;
}

@media only screen and (min-width: 400px) {
    .header__buttons {
        flex-direction: row;
    }
}