.dashboard .dashboard__row1 {
    display: flex;
    justify-content: space-evenly;
}

.dashboard__featureSection {
    display: inline-block;
    margin: 4vh 3vw;
    color: #a5a5a5;
}

.dashboard__featureContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.dashboard__noLogsMessage {
    text-align: center;
    margin-top: 5vh;
}

.dashboard__featureContent > .dashboard__featureTitle {
    font-size: 2em;
}

.dashboard__featureContent > svg {
    font-size: 3em;
}

.dashboard__row2, .dashboard__row3 {
    padding: 2vh 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.dashboard__row3 canvas {
    height: auto;
}

.dashboard__charts canvas {
    margin: 2.5vw;
}

.dashboard__timespanButtonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.dashboard__timespanButtonsContainer > h4 {
    margin-right: 1vw;
}

.dashboard__timespanButtons {
    display: flex;
    margin: 0 3vw 0 0;
}

.dashboard__timespanButton {
    margin: 0 0.2vw;
    border: 0;
    font-size: 1.2em;
    background: none;
}

.dashboard__timespanButton:hover, .dashboard__timespanButton.active {
    cursor: pointer;
    color: var(--main-accent-color);
}

.dashboard__timespanButton.active {
    border-bottom: 2px solid var(--main-accent-color);
}

.dashboard__timespanButton:focus {
    outline: none;
}

@media only screen and (min-width: 600px) {
    .dashboard__charts canvas {
        max-width: 45vw;
        width: 45vw;
    }

    .dashboard__charts {
        flex-direction: row;
    }

    .dashboard__row2, .dashboard__row3 {
        flex-direction: row;
    }
}
