.dashboard__row1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-evenly;
}

.dashboard__featureSection {
    display: inline-block;
    margin: 2vh 3vw;
}

.dashboard__featureContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard__featureContent > .dashboard__featureTitle {
    font-size: 2em;
}

.dashboard__featureContent > svg {
    font-size: 3em;
}

.dashboard__charts {
    padding: 2vh 0;
    display: flex;
    flex-direction: column;
}

.dashboard__charts canvas {
    margin: 2.5vw;
}




@media only screen and (min-width: 600px) {
    .dashboard__charts canvas {
        max-width: 45vw;
        width: 45vw;
    }

    .dashboard__charts {
        flex-direction: row;
    }
}
