@import '../App/App.css';

.journal {
    margin: 3vh 5vw;
}

.journal__topBar {
    background: #ebebeb;
    border-radius: 10px;
    height: auto;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.journal__topBar svg {
    font-size: 2em;
    color: var(--main-accent-color);
}

.journal_wellnessTip {
    width: 80%;
}

.journal_wellnessTip__intro {
    font-variant: small-caps;
    font-size: 1.25em;
    color: var(--main-accent-color);
}

.journal__topBar > a {
    text-decoration: none;
    color: white;
    font-size: 2em;
}
